*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.portada{
    width: 100%;
    height: 550px;
    background: url("/img/patrullaje.jpg");
    background-size: 100%;
    animation: movimiento 15s infinite linear alternate;
    background-repeat: no-repeat;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}
.capa{
    width: 100%;
    height: 100%;
    background: rgba(0,98,123,0.5);
}
.container {
    margin-left:40px;
}
h2{
    color: #fff;
    font-family: berlin sans fb;
    font-weight: 100;
    font-size: 35px;
    transform:translateY(100%);
    margin: auto;
   
   
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h3{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 17px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
     min-height: 100px;
     max-height: 200px;
     max-width: 100%;
 }
 #boton{
     background: #3184;
     color:#fff;
     padding:20px;

 }
 #boton:hover {
    cursor: pointer;
 }
 @media (max-width:480px){
     form{
         width: 100%;
     }
img{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.footer p{
    
    font-size: 30px;
    text-align: center;
   
}
footer{
    width: 100%;
    font-family: Raleway;
}
}

