
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-dog:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-police:before { content: '\e82b'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */